CompileFlags:
  Add: [
    -DUNICODE,
    -D_UNICODE,
    -DFANY_DEBUG,
    "-std=c++17",
    "-IC:\\Users\\SonnyCalcr\\EDisk\\CppCodes\\DirectKeycast\\includes",
    -Wno-microsoft-goto,
    -Wno-nonportable-include-path,
    -Wno-microsoft-extra-qualification,
    # -Wno-unused-value,
  ] # ignore some specific warnings
  CompilationDatabase: build/       # Search build/ directory for compile_commands.json
# Diagnostics:
#   UnusedIncludes: None # ignore unused includes